<div class="blog">
    <h1 class="text-center">Blog</h1>
    <div class="blog_container">
        <ul class="blog_c_ul">
            <li>
                <div>
                    <h4 ng-click="jump('blog_single')" class="li_h4 text-left">LOREM IPSUM IS SIMPLY</h4>
                    <div ng-click="jump('blog_single')" class="li_img">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="img_tips text-left">
                        <span><i class="fa-user"></i>Admin</span>
                        <span><i class=" fa-calendar"></i>12-04-2015</span>
                        <span><i class="fa-comments-o"></i>No Comments</span>
                    </div>
                    <div>
                        <p class="text-left txt_tips">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur debitis iste maiores, molestias mollitia porro recusandae suscipit. A alias cum debitis dicta eligendi non suscipit totam. Architecto, est, inventore.
                    </p>
                    </div>

                    <button ng-click="jump('blog_single')" class="btn">READ MORE</button>
                </div>
            </li>
            <li>
                <div>
                    <h4 ng-click="jump('blog_single')" class="li_h4 text-left">LOREM IPSUM IS SIMPLY</h4>
                    <div ng-click="jump('blog_single')" class="li_img">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="img_tips text-left">
                        <span><i class="fa-user"></i>Admin</span>
                        <span><i class=" fa-calendar"></i>12-04-2015</span>
                        <span><i class="fa-comments-o"></i>No Comments</span>
                    </div>
                    <div>
                        <p class="text-left txt_tips">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur debitis iste maiores, molestias mollitia porro recusandae suscipit. A alias cum debitis dicta eligendi non suscipit totam. Architecto, est, inventore.
                        </p>
                    </div>

                    <button ng-click="jump('blog_single')" class="btn">READ MORE</button>
                </div>
            </li>
            <li>
                <div>
                    <h4 ng-click="jump('blog_single')" class="li_h4 text-left">LOREM IPSUM IS SIMPLY</h4>
                    <div ng-click="jump('blog_single')" class="li_img">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="img_tips text-left">
                        <span><i class="fa-user"></i>Admin</span>
                        <span><i class=" fa-calendar"></i>12-04-2015</span>
                        <span><i class="fa-comments-o"></i>No Comments</span>
                    </div>
                    <div>
                        <p class="text-left txt_tips">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur debitis iste maiores, molestias mollitia porro recusandae suscipit. A alias cum debitis dicta eligendi non suscipit totam. Architecto, est, inventore.
                        </p>
                    </div>

                    <button ng-click="jump('blog_single')" class="btn">READ MORE</button>
                </div>
            </li>
            <li>
                <div>
                    <h4 ng-click="jump('blog_single')" class="li_h4 text-left">LOREM IPSUM IS SIMPLY</h4>
                    <div ng-click="jump('blog_single')" class="li_img">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="img_tips text-left">
                        <span><i class="fa-user"></i>Admin</span>
                        <span><i class=" fa-calendar"></i>12-04-2015</span>
                        <span><i class="fa-comments-o"></i>No Comments</span>
                    </div>
                    <div>
                        <p class="text-left txt_tips">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur debitis iste maiores, molestias mollitia porro recusandae suscipit. A alias cum debitis dicta eligendi non suscipit totam. Architecto, est, inventore.
                        </p>
                    </div>

                    <button ng-click="jump('blog_single')" class="btn">READ MORE</button>
                </div>
            </li>
            <li>
                <div>
                    <h4 ng-click="jump('blog_single')" class="li_h4 text-left">LOREM IPSUM IS SIMPLY</h4>
                    <div ng-click="jump('blog_single')" class="li_img">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="img_tips text-left">
                        <span><i class="fa-user"></i>Admin</span>
                        <span><i class=" fa-calendar"></i>12-04-2015</span>
                        <span><i class="fa-comments-o"></i>No Comments</span>
                    </div>
                    <div>
                        <p class="text-left txt_tips">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur debitis iste maiores, molestias mollitia porro recusandae suscipit. A alias cum debitis dicta eligendi non suscipit totam. Architecto, est, inventore.
                        </p>
                    </div>

                    <button ng-click="jump('blog_single')" class="btn">READ MORE</button>
                </div>
            </li>
            <li>
                <div>
                    <h4 ng-click="jump('blog_single')" class="li_h4 text-left">LOREM IPSUM IS SIMPLY</h4>
                    <div ng-click="jump('blog_single')" class="li_img">
                        <img src="images/b1.jpg" alt="">
                    </div>
                    <div class="img_tips text-left">
                        <span><i class="fa-user"></i>Admin</span>
                        <span><i class=" fa-calendar"></i>12-04-2015</span>
                        <span><i class="fa-comments-o"></i>No Comments</span>
                    </div>
                    <div>
                        <p class="text-left txt_tips">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur debitis iste maiores, molestias mollitia porro recusandae suscipit. A alias cum debitis dicta eligendi non suscipit totam. Architecto, est, inventore.
                        </p>
                    </div>

                    <button ng-click="jump('blog_single')" class="btn">READ MORE</button>
                </div>
            </li>
        </ul>
    </div>
</div>